{% extends "AppCaro/padre.html" %}

{% load static %}

{% block contenido_que_cambia %}
    <div style = "background-color: coral;">
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0"> Bienvenido a mi PortFolio </h1>
        <h2 class="page-section-heading text-center text-secondary mb-0"> Puedes indagar directamente mi experiencia: </h2>
        <h3 style ="color: black;"> Ingresa una palabra clave: </h3>

    <form action = '/AppCaro/buscar_experiencia/' method= 'GET'>
        <input type = 'text' name = 'nombre_experiencia', id = 'nombre_experiencia'>
        <input type = 'submit' value = 'Buscar'> 
    </form>
    
    </div>    
 
        


       
        <ul>
    {% if variables %}   
    
        <p> Experiencias halladas con la palabra : {{variable}}</p>

        {% for exp in variables %}
            <li> {{experiencia.nombre_experiencia}} &nbsp;
             {{experiencia.nombre_empresa}} &nbsp;
             {{experiencia.duracion}} &nbsp;
             {{experiencia.trabajo_actual}} &nbsp;
             {{experiencia.descripcion}} </li>
        {% endfor %}
        </ul>

    {% else %}
        <p> No hay experiencias con esa descripcion</p>
    {% endif %}

{% endblock %}
